<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RemoteConString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=W2K8SRV1.domain.com)(PORT=1521))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic))(SERVER=dedicated)(SERVICE_NAME=orcl.domain.com)))
;User Id=c##or1;Password=pass99;" />
    <add name="LocalConString" connectionString="Data Source=ORCL;User Id=c##or1;Password=pass99;"/>
  </connectionStrings>
  <appSettings>
    <!--Should use either True or False only-->
    <add key="UseRemoteConString" value="True"/>
    <add key="TableName" value="VikramTest"/>
  </appSettings>
</configuration>